.products{
display: flex;
justify-content: space-around;
}
#product{
display:flex;
justify-content: space-around;
}
#her{
    color: black;
}

.she{
    display: flex;
    justify-content: space-around;
}
#li{
   list-style: none; 
   color: red;
}